# Application Properties
export APP_NAME=image-processing
export FN_NAME=thumbnail-generator

# OCI (fill in the blanks)
# Region information can be found here: https://docs.oracle.com/en-us/iaas/Content/General/Concepts/regions.htm
export OCI_CLI_PROFILE=demo-fndev
export AUTH_TOKEN=
export TENANCY_NAMESPACE=
export REGION_ID=
export REGION_KEY=
export IAM_USER=fndev
export COMPARTMENT_OCID=
export SUBNET_OCID=

# FN CLI-related variables
export FN_CONTEXT_NAME=fn-$OCI_CLI_PROFILE
export DOCKER_USERNAME=$TENANCY_NAMESPACE/$IAM_USER
export DOCKER_PASSWORD=$AUTH_TOKEN